/* GLOBAL */
.row {
  margin:0;
}

a {
  color: black;
}

a:hover {
  color: black;
}

/* HEADER */

header {
  width: 100%;
  padding: 15px;
  z-index: 2;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}

header a:hover {
  text-decoration: none;
}

header .icon{
    width: 35px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.headerImg {
  margin-top: 80px;
}

/* NAV */

#nav {
  display: none;
  float: left;
  background-color: black;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 100%;
  text-align: left;
  z-index: 3;
  position: fixed;
}

#nav .icon{
    width: 35px;
}

#nav li {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}

#nav a {
    color: white;
}

@media screen and (max-width:500px) {
  #nav {
    width: 100% !important;
  }
}

/* MAIN */

main {
  padding: 50px 0;
}

main h2 {
  margin: 50px auto;
}

main a {
  text-decoration: underline;
}

.main2{
  padding: 0px
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
}

footer a, footer a:hover {
    color: white;
}

footer li {
    padding: 12px 2px;
}

footer form {
    height: 25px;
}

footer label {
    margin-right: 20px;
}

footer input {
    border: none;
}

footer input:last-child {
    background-color: #9a8067;
    font-weight: bold;
}

footer .icon {
    width: 35px;
    margin-right: 10px;
}

/* RESTAURATION GLOBAL */

#restGlobalMain img {
  width: 100%;
}

.titreCarteRest {
  position: relative;
  top:-230px;
}

.carte {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

/* DEGUSTATION */

.deg-entrees {
  background-image: url("../img/gastronomique_entree.jpg");
}

.deg-plats {
  background-image: url("../img/gastronomique_plat.jpg");
  margin-top: 100px;
}

.deg-desserts {
  background-image: url("../img/gastronomique_dessert.jpg");
  margin-top: 100px;
}

/* RESTAURANT */

.res-entrees {
  background-image: url("../img/restaurant_entree.jpg");
}

.res-plats {
  background-image: url("../img/restaurant_plat.jpg");
  margin-top: 100px;
}

.res-desserts {
  background-image: url("../img/restaurant_dessert.jpg");
  margin-top: 100px;
}

/* BRASSERIE */

.cocktails {
  background-image: url("../img/cocktails.jpg");
  opacity: 0.8;
}

.bieres {
  background-image: url("../img/bieres.jpg");
  margin-top: 100px;
}

.vins {
  background-image: url("../img/vins.jpg");
  margin-top: 100px;
}

/* FORMULAIRES D'AVIS ET HOTEL */

.btnForm {
  background-color: #9a8067;
  border: 0px;
}

/* CHAMBRES */

.spacer{
    margin-top: 50px;
}

.spacer-down{
    margin-bottom: 50px;
}

.discover{
    background-color: #9a8067;
    font-size: 20px;
    padding: 10px 25px;
    margin-top: 100px;
    color:white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px gray;
}

.discover a{
    color:white;
}

/* SPA */

.cartes{
    border: 0;
    margin-top: 30px;
    box-shadow: 3px 3px 5px gray;
}

.btn-carte{
    background-color: #9a8067;
    border:0;
    width: 100%;
}

/* MENTIONS LEGALES */

.presse a{
    color: black;
    text-decoration:underline;
}

#download a {
    color: black;
}

/* PRESSE */

.presse{
    padding: 20px;
    border: 0;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 3px 3px 5px #9a8067;
}

.presse a{
    color: black;
    text-decoration:underline;
}
