/* GLOBAL */

a {
  color: black;
}

a:hover {
  color: black;
}

.li-no-style{
    list-style-type: none;
}

/* HEADER */

header {
  width: 100%;
  padding: 15px;
  z-index: 2;
  position: fixed;
  background-color: white;
  box-shadow: 0px 0px 10px 0px;
}

header .icon{
    width: 35px;
}

/* NAV */

#nav {
  display: none;
  float: left;
  background-color: black;
  position: absolute;
  top: 0;
  padding: 20px;
  height: 100%;
  width: 20%;
  text-align: left;
  z-index: 3;
  position: fixed;
}

#nav .icon{
    width: 35px;
}

#nav li {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}

#nav a {
    color: white;
}

/* MAIN */

main {
  padding: 50px 0;
}

main h2 {
  margin: 50px auto;
  font-family: 'Roboto Slab', serif;
}

main img {
  width: 100%;
}

main a {
  text-decoration: underline;
}

main .deg-entrees {
  height: 400px;
  background-image: url("../img/gastronomique_entree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

main .deg-plats {
  height: 400px;
  background-image: url("../img/gastronomique_plat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main .deg-desserts {
  height: 400px;
  background-image: url("../img/gastronomique_dessert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main .res-entrees {
  height: 400px;
  background-image: url("../img/restaurant_entree.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

main .res-plats {
  height: 400px;
  background-image: url("../img/restaurant_plat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main .res-desserts {
  height: 400px;
  background-image: url("../img/restaurant_dessert.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main .cocktails {
  height: 400px;
  background-image: url("../img/cocktails.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
}

main .bieres {
  height: 400px;
  background-image: url("../img/bieres.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main .vins {
  height: 400px;
  background-image: url("../img/vins.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.8;
  margin-top: 100px;
}

main h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
}

.carte_titre {
  position: relative;
  top:-230px;
}

/* FOOTER */

footer {
  grid-column: 1;
  grid-row: 3;
  background-color: black;
  color: white;
}

footer a {
    color: white;
}

#footer-list li {
    padding: 12px 2px;
}

footer form {
    height: 25px;
}

footer label {
    margin-right: 20px;
}

footer input {
    border: none;
}

footer input:last-child {
    background-color: #9a8067;
    font-weight: bolder;
}

footer .icon {
    width: 35px;
    margin-right: 10px;
}












/* RESTAURANT */

/* MAIN */
