body{
    margin: 0 auto;
    text-align: center;
}

header .icon{
    width: 35px;
}

.li-no-style{
    list-style-type: none;
}

.li-no-style input{
    border-radius: 5px;
    border: 0px;
    padding: 0 10px;
}

header {
    padding: 15px;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px;
}

#nav {
    display: none;
    float: left;
    background-color: black;
    position: absolute;
    top: 0;
    padding: 20px;
    height: 100%;
    width: 20%;
    text-align: left;
    z-index: 3;
    position: fixed;
}

#nav .icon{
    width: 35px;
}

#nav li {
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
}

#nav a {
    color: white;
}

main {
    max-width: 1400px;
    padding: 50px 0;
}

main h2{
    margin-bottom: 40px;
}

#booking{
    position: absolute;
    width: 1400px;
    z-index: 1;
    top: 350px;
    font-size: 52px;
    opacity: 0.9;
}

.booking-form {
	background: #fff;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(60, 64, 101, 0.1);
}

.booking-form>form .row.no-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.booking-form>form .row.no-margin>[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.booking-form .form-header {
	padding: 15px 10px;
	height: 110px;
	line-height: 80px;
	text-align: center;
}

.booking-form .form-header h2 {
	margin: 0;
	display: inline-block;
	font-size: 50px;
    color: #9a8067;

}

.booking-form .form-group {
	position: relative;
	height: 110px;
	padding: 15px 10px;
	margin-bottom: 0px;
}

.booking-form .form-control {
	background-color: transparent;
	border-radius: 0px;
	border: none;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	font-size: 15px;
	color: #3c404a;
	font-weight: 700;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #818390;
	font-size: 12px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #818390;
	display: block;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.booking-form .form-btn {
	padding: 15px 10px;
	height: 110px;
}

.booking-form .submit-btn {
	background: #9a8067;
	color: #fff;
	border: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	height: 80px;
	width: 100%;
}

footer {
    height: 15%;
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

#footer-list li {
    padding: 12px 2px;
}

footer form {
    height: 25px;
}

footer label {
    margin-right: 20px;
}

footer input {
    border: none;
}

footer input:last-child {
    background-color: #9a8067;
    font-weight: bolder;
}

footer .icon {
    width: 35px;
    margin-right: 10px;
}
